body { 
	position: relative; 
	background-color: black; 
	color:#818181;
	font-family: Futura, "Lucida Grande", Lucida, Verdana, sans-serif, "Andale Mono";font-size: 12px;
	line-height: 1.9em;
	-webkit-text-size-adjust: none;
	overflow-x: hidden;
}

body, div, dl, li, dt, dd, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin:0; padding:0
}

#backdrop {
	left:0px;
	right:0px;
	background:black;
	width:100%;
	height:100%;
	position:fixed;
	z-index:199;
	opacity:0.7;
	display:none
}

a {
	text-decoration: none;
	color: #f27bff;
}

a:hover {
	color: #ffc4f4 /* 	#ffd148; */
}

a.contactus {
	background:url(../pictures/kontakt.png);
	background-repeat: no-repeat;
	float: left;
	width: 40px;
	height: 25px;
	margin-top: 10px;
	cursor: pointer
}

a.contactus:hover {
	background:url('../pictures/kontakt.png');
	background-repeat: no-repeat;
	background-position-y: -25px;
}

a.youtube {
	margin-top: 10px;
	float: left;
	height: 25px;
	width: 40px;
	background-repeat: no-repeat;
	background-image: url(../pictures/youtube.png);
}

a.youtube:hover {
}

a.english {
	margin-top: 10px;
	float: left;
	height: 25px;
	width: 40px;
	background-repeat: no-repeat;
	background-image: url(../pictures/english.png);
}

a.srpski {
	margin-top: 10px;
	float: left;
	height: 25px;
	width: 40px;
	background-repeat: no-repeat;
	background-image: url(../pictures/serbian.png);
}

#carouseltop {
	z-index: 500;
	background-repeat: repeat-x;
	height: 100px;
	margin-top: -199px;
	margin-left: auto;
	margin-bottom: 0;
	margin-right: auto;
	background: url(../pictures/starfield.png) 0 0px;
}

#content_wrapper {
    margin-left: auto;
    margin-bottom: 0;
    margin-right: auto;
    background-image: url(../pictures/noise_pattern_pink.gif);
    width: 100%;
	padding: 0;
}

#fashionworld {
	margin-left: 150px;
	height: 360px;
	width: 500px;
	position: relative;
	background-repeat: no-repeat;
	background-image: url(../pictures/fashion_world.png);
}

div .partneri {
	padding: 10px;
}

div .scrollable {
	z-index: 100;
	width: 600px;
	height: 450px;
	position: relative;
	overflow: hidden;
	
}

div .items {
	width: 5000px;
	height: 450px;
	position: absolute;	
}

div.scrollable div.items div {
	float: left;
}

div.overlay, #overlay {
	padding-left: 0px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-top: 10px;
	height: 300px;	
	width: 500px;  
	display:none;
}

div #sasa_bio_sr, #sasa_bio_en {
	background-repeat: no-repeat;
	background-image: url(../pictures/sasa_bio_back.jpg);
}

div #zis_bio_en, #zis_bio_sr {
	background-repeat: no-repeat;
	background-image: url(../pictures/zis_bio_back.jpg);
}

div #maja_bio_en, #maja_bio_sr {
	background-repeat: no-repeat;
	background-image: url(../pictures/maja_bio_back.jpg);
}

div #aleksandra_bio_sr, #aleksandra_bio_en {
	background-repeat: no-repeat;
	background-image: url(../pictures/aleksandra_bio_back.jpg);
}

div #marko_bio_sr, #marko_bio_en {
	background-repeat: no-repeat;
	background-image: url(../pictures/marko_bio_back.jpg);
}

div #video_stendhal {
	background-repeat: repeat;
	background-color: black;
	position: relative;
	height: 405px;
	width: 670px;
}

div #video_stendhal object {
	margin-left: 10px;
	margin-top: 0px;
	position: relative;
	height: 405px;
	width: 660px;
}

div.close {
	z-index: 50;
	right: 1px;
	top: 1px;
	background:url(../pictures/close.png) no-repeat;
	position:absolute;
	width: 24px;
	height: 24px;
	cursor:pointer;
}

.contact {
	font-size: 18px;
}

#features {
	margin:30px 0 55px 0;
	float:left;
	width:910px
}

#features .column {
	float: left;
	width:200 px;
	margin-right: 35px
}

#features .lastcolumn {
	float: left;
	width: 200px
}

#features img {
	float: left;
	margin-right: 5px
}

#features p {
	margin-top:2em
}

#features p strong {
	color:white;
	font-size:1em;
	text-transform:uppercase;
	display:block
}

#footer {
	z-index: 200;
	clear: both;
	margin:0 auto 20px auto;
	text-align:center;
}

div .bio {
	font-size: 13px;
	color: black;
	width: 350px;
	right: 0px;
	float: right;
	position: relative;
	height: 300px;
}

div .portret {
	width: 150px;
	left: 0px;
	position: relative;
	height: 300px;
	float: left;
}

#gallerycontainer {
	background-position: 0 -25px;
	z-index: 9000;
	height: 160px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	padding: 0px;
	display: block;
	background-image: url(../pictures/noise_pattern.gif);
	width: 100%
}

#intro {
    padding-bottom: 10px;
}
 
#gallerynis {
	background-position: 0 -25px;
	z-index: 0;
	height: 450px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	padding: 0px;
	display: block;
	background-image: url(../pictures/noise_pattern.gif);
	width: 100%
}
 
img {
	border-style: none;
}

img.avatar {
	padding-right: 10px;
	float: left;
}

img.avatarRight {
	float: left;
	padding-right: 10px;
}

img.kurs {
	float: left;
	padding-right: 20px;
}

h2 {
    margin: 0;
    margin-bottom: 14px;
    padding: 0;
}
 
.hide {
    display: none;
}
 
#leftside_model {
	left: -200px;
	position: absolute;
	float: left;
	height: 450px;
	width: 600px;
	background-image: url(../pictures/silueta_levo.png);
}
#prednaslov {
	text-shadow: 0px 2px 3px black;
	letter-spacing: 4px;
	font-family: "Arial Narrow";
	color: #ff32b4;
	font-size: 30px;
}

.smallcap {
	font-size: 12px;
	font-family: serif;
}

#rightside_model {
	background-repeat: no-repeat;
	right: -200px;
	position: absolute;
	float: right;
	height: 480px;
	width: 600px;
	background-image: url(../pictures/silueta_desno.png);
}

#navigation_top {
	z-index: 4000;
	border-width: 15px;
	top: 0px;
	left: 10px;
	margin: 0 auto;
	background: no-repeat;
	position: fixed
}

#navigation_top a {
	margin-left: 8px;
}
 
#scrolltabs_wrapper {
	min-width: 1000px;
	text-align: center;
}
.scroll {
    height: 480px;
    width: 700px;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    clear: left;
    background: scroll left bottom;
}
 
.scrollButtons {
    position: absolute;
    top: 150px;
    cursor: pointer;
}
 
.scrollButtons.left {
    left: -40px;
}
 
.scrollButtons.right {
    right: -40px;
}
 
.scrollContainer div.panel {
    padding: 10px;
    font-size: 13px;
    color: #979797;
    height: 480px;
    width: 680px;
}
 
.moto {
	text-transform: uppercase;
	font-size: 16px;
}

.titula {
	font-size: 20px;
}

#slider {
    background-repeat: repeat-x;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-top: 0px;
    width: 700px;
    margin: 0 auto;
    position: relative;
    opacity: 50%;
}
 
#slider_wrapper {
	min-width: 800px;
	background-image: url(../pictures/slider_back.png);
	background-repeat: repeat-x;
	width: 100%;
}#superheader {
	background-image: url(../pictures/stendhal_main.png);
	background-repeat: no-repeat; 
	background-position: center 50px; 
	position: center; 
	top: -50px;
	width:100%;
	height: 650px;
	position: relative;
	z-index: -55;
	margin-top: 75px;
}

#svn {
	width:910px;
	margin:40px auto;
	padding:0 20px
}

#st_hi {
	text-shadow: 0px 1px #656565;
	color: #ffa7ef;
}

#teamavatar {
	float: left;
	width: 50%;
	height: 85px;
	padding: 5px;
}

#teambuttons {
	padding: 5px;
	float: left;
	height: 70px;
	width: 30%;
}

#teambuttons_wrapper {
	float: left;
}

#team_wrapper {
	clear: both;
	height: 70px;
	padding: 5px;
}

ul.scrolltabs {
    text-shadow: 0px 1px 2px black;
    padding-bottom: 10px;
    height: 30px;
    font-size: 15px;
    list-style: none;
    margin: 0;
    color: white;
    left: 50%;
}
 
ul.scrolltabs li {
    margin-left: -2px;
    margin-right: -2px;
    color: white;
    display: inline;
}
 
ul.scrolltabs a {
    height: 30px;
    color: #9b5d95;
    padding: 20px;
    text-decoration: none;
}
 
ul.scrolltabs a:focus {
    text-shadow: 0px 0px 2px #ff96eb;
    color: #ff8be6;
    background-image: url(../pictures/tab_back.png);
    background-repeat: repeat-x;
    background-position: 0;
    outline: none;
}

ul.scrolltabs a:hover {
	background-image: url(../pictures/tab_back.png);
	background-position: 0;
	background-repeat: repeat-x;
    color: #ff8be6;
}
 
ul.scrolltabs a.selected {
    background-position: 0px;
    background-image: url(../pictures/tab_back.png);
	background-repeat: repeat-x;
}
 
ul.starred {

	list-style-position: outside;
	list-style-image: url(../pictures/liststar.png);
}

#wrappershadow {
	background-position: 0;
	height: 25px;
	background-repeat: repeat-x;
	background-image: url(../pictures/scrollshadow.png);
}



.infiniteCarousel {
  margin-right: auto;
  margin-left: auto;
  width: 855px;
  position: relative;
}

#nowAndThen {
  margin-right: auto;
  margin-left: auto;
  width: 855px;
  position: relative;
}

.infiniteCarousel .wrapper {
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0;
  margin-top: 0;
  width: 855px; /* .infiniteCarousel width - (.wrapper margin-left + .wrapper margin-right) */
  overflow: auto;
  height: 135px;
  position: absolute;
  top: 0;
  text-align: center;
}

.infiniteCarousel ul a img {
  border: 5px solid #000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.infiniteCarousel .wrapper ul {
  width: 855px; /* single item * n */
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  padding:0;
  position: absolute;
  top: 0;
}

.infiniteCarousel ul li {
  display:block;
  float:left;
  padding: 10px;
  height: 135px;
  width: 75px;
}

.infiniteCarousel ul li img {
    -webkit-transition: border-color 400ms;
}

.infiniteCarousel ul:hover li img {
  border-color: #000;
}

.infiniteCarousel ul:hover li:hover img {
  border-color: #333;
}

.infiniteCarousel ul li a img {
  display:block;
}

.infiniteCarousel .arrow {
  display: block;
  height: 36px;
  width: 37px;
  background: url(../pictures/arrow.png) no-repeat 0 0;
  text-indent: -999px;
  position: absolute;
  top: 37px;
  cursor: pointer;
  outline: 0;
}

.infiniteCarousel .forward {
  margin-top: 15px;
  margin-right: -40px;
  background-position: 0 0;
  right: 0;
}

.infiniteCarousel .back {
  margin-top: 15px;
  margin-left: -32px;
  background-position: 0 -72px;
  left: 0;
}

.infiniteCarousel .forward:hover {
  background-position: 0 -36px;
}

.infiniteCarousel .back:hover {
  background-position: 0 -108px;
}

.partners td {
	text-align: center;
	font-weight: bold;
	border-collapse: collapse;
	padding: 5px;
	border-width: 0px;
}

